main {
    height: 960px;
}

main h1
{
height: 10%;
}

main section
{
    width: 100%;
    height: 33%;
    border: 1px solid gray;
}

section .podcast{
    height: 100%;
    width: 33%;
    float: left;
    border: 2px solid black
} 

section .podcast audio{
    width: 80%;
    
}